/*----- Card -----*/
.msg-accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    height: 250px;
    width: 50%;
    min-width: 320px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 28%;
    min-width: 320px;
    margin: 0 15px 35px 15px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.cardError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
    height: 250px;
    width: 60%;
    min-width: 320px;
    margin: 0 auto;
    color: red;
    
}

.cardError p {
    margin: 5px 0;
    color: red;
}

.bloc.img {
    overflow: hidden;
    width: 350px;
    height: 350px;
    
}

.card img {
    border-bottom: 3px solid #c1b0f5;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.card h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 16px;
    cursor: default;
}

.card .prix {
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 5px;
}

.card a {
    margin-top: 24px;
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;
    background-color: #c1b0f5;
    width: 40%;
    font-weight: 600;
    line-height: 45px;
    height: 45px;
    border-radius: 35px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
}s

.card a:hover {
    color: white;
    transform: scale(1.05);
    box-shadow:0 0 15px rgba(193, 176, 245, 0.6);
    transition: all 150ms linear;
} 

/* Responsive */

@media screen and (max-width: 425px) {

    .card {
        border-radius: 0px;
        width: 100%;
        margin: 0 0 35px 0;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        border-bottom: 3px solid #c1b0f5;
    }

    .card img {
        border-bottom: 3px solid transparent;
        
    }

}